# Unreal Engine
Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/
*.sln
*.suo
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.opensdf
*.sdf
*.opendb
*.toc
*.swp
*.tmp
*.log
*.md5
*.orig
*.rej
*.bak
*.temp
*.uprojectdirs
*.uassetlist
*.uassetreg
*.uproject
*.uplugin
*.uhtaccess
*.uhtproject
*.uhtworkspace
*.uhtmanifest
*.uhtconfig
*.uhtcache
*.uhtmap
*.uhtpak
*.uhtpaklist
*.uhtpakindex
*.uhtpakinfo
*.uhtpakmanifest
*.uhtpakpatch
*.uhtpakpatchinfo
*.uhtpakpatchlist
*.uhtpakpatchmanifest
*.uhtpakpatchindex
*.uhtpakpatchinfo
*.uhtpakpatchlist
*.uhtpakpatchmanifest
*.uhtpakpatchindex
*.uhtpakpatchinfo
*.uhtpakpatchlist
*.uhtpakpatchmanifest
*.uhtpakpatchindex
